:root {
    --primary-color: #4a90e2;
    --primary-light: #5da8ff;
    --primary-dark: #3a7cbd;
    --secondary-color: #e8f1f8;
    --text-color: #2c3e50;
    --bg-color: #f0f8ff;
    --message-gb: #e1eeff;
    --system-message-color: #8fa4b8;
}